{{ define "main" }}
    <h1 class="text-3xl text-blue-700 font-bold underline">Cainã and Friends Programming Notes</h1>
    <p>These notes are a simple project to talk about different kinds of concepts involving programming in general. It's
       called Cainã and Friends Programming Notes because it was first made by <a href="https://github.com/cykna">Cainã<a/> and later received support
       from others to talk about more concepts.
    </p>
    <p>
        Feel free to contribute with the project creating notes and correcting and adding content to the notes, and then, become a friend!.
    </p>
{{ end }}
